$color: (
  primary: #0d6efd,
  secondary: #7c8595,
  gray: #595959,
  gray-a: #454545,
  gray-b: #878787,
  gray-c: #6a6a6a,
  gray-d: #858585,
  gray-e: #727272,
  gray-g: #f6f7f8,
  grey-bg: #f5f7fc,
  black: #071e55,
  white: #fff,
  white-a: #e0e0e0,
  red: #e52f37,
  orange: #fc6a3f,
  yellow: #fe9c24,
  green: #27b36a,
  instagram: #3b5998,
  whatsapp: #4fce5d,
  light-green: #a9d129,
  twitter: #4099ff,
  pinterest: #c92228,
  google: #4285f4,
  facebook: #3b5998,
  pink: #ea4c89,
  light-blue: #50a0d2,
  dark-blue: #3473b8,
  light-red: #fc6a3f,
  dark-green: #87ac34,
  blue: #1e90ff,
  dark-green-a: #164145,
);
$font-size: (
  xxs: 10px,
  xs: 11px,
  sm: 14px,
  normal: 16px,
  normal-lg: 17px,
  lg: 18px,
  xl: 20px,
  xxl: 22px,
  xxxl: 26px,
  xxxxl: 28px,
  large: 36px,
  large-xl: 42px,
  large-xxl: 46px,
);
$font-body: Nunito, sans-serif;
